.hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_img {
  width: 900px;
  height: 91vh;
  object-fit: fill;
}
.hero__section-info {
  padding: 0 0 0 120px;
}
.hero_title {
  font-weight: 600;
  font-size: 42px;
  color: #191919;
  margin-bottom: 10px;
}
.hero_desc {
  font-family: 400;
  font-size: 28px;
  margin: 0 0 12px;
}
.price {
  display: flex;
  align-items: center;
  gap: 20px;
}
.new_price {
  font-weight: 700;
  font-size: 36px;
  color: #191919;
}
.old_price {
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
}
.buy_hero {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 24px;
}
.btn_buy {
  padding: 10px 32px;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}
.btn_buy:hover {
  background-color: #333232;
}
.btn_more {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  font-size: 20px;
}
